{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto">
                <h3 class="card-title text-center mt-3">
                    <a href="/">
                        Sound Share
                    </a>
                </h3>
                <form class="px-4 py-3" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary" type="submit" >Accedi</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'password_reset' %}">Hai dimenticato la password?</a>
    <a class="dropdown-item" href="{% url 'users:register' %}">Non hai ancora un account? Registrati</a>
            </article>
        </div>
    </div>
{% endblock %}