{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <div class="d-flex flex-column">
            <h1> Controlla la tua casella di posta. </h1>
            <p> Ti abbiamo inviato le istruzioni via e-mail per l'impostazione della password. Dovresti ricevere l'email a
                breve!</p>
            <p>
                Clicca <a href="{% url 'users:login' %}">qui</a> per tornare alla pagina di login
            </p>
        </div>

    </div>

{% endblock %}