{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'assets/css/home_style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}" />
 <!--   <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">-->

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-light  bg-white">
    <div class="col-md-3">
        <a href="{% url 'songs:feed' %}" class="navbar-brand center"><h2><b>Sound Share</b></h2></a>
    </div>
    <div class="col-md-6">
        <form class="form-inline" action="{% url 'songs:search' %}">
            <div class="input-group w-100">
                <select id="seraching-for" class="custom-select col-md-3" name="category">
                    <option value="genres">Generi</option>
                    <option value="composers">Compositori</option>
                    <option value="songs">Brani</option>
                </select>
                <input id="search" type="text" class="form-control" name="search" aria-label="Recipient's username" aria-describedby="button-addon2" required />
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div  class="flex col-md-3">
        <div class="btn-group float-right">
            <button id="btnGroupDrop1" type="button" class="btn btn-link" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-3x fa-user-circle"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                {% if user.composers %}
                    <a class="dropdown-item" href="{% url 'songs:dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'songs:composer-create' %}"><i class="fa fa-user-plus"></i> Diventa compositore!</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'users:edit' %}"><i class="fa fa-cog"></i> Modifica account</a>
                <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fa fa-backward"></i> Logout</a>
            </div>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Auto-Complete script section -->
<script>
  $(document).ready( function() {

      $.ajax({
                type: 'GET',
                url: '{% url 'songs:get-genres' %}',
                dataType: "json",
                success: function (data) {
                    $( "#search" ).autocomplete({
                        source: data.genres
                    });
                }
            })

    $('#seraching-for').on('change',function(){
        if ( $(this).val() === 'genres' ){
            $.ajax({
                type: 'GET',
                url: '{% url 'songs:get-genres' %}',
                dataType: "json",
                success: function (data) {
                    $( "#search" ).autocomplete({
                        source: data.genres
                    });
                }
            })
            }else if ( $(this).val() === 'songs' ){
            $.ajax({
                type: 'GET',
                url: '{% url 'songs:get-songs' %}',
                dataType: "json",
                success: function (data) {
                    $( "#search" ).autocomplete({
                        source: data.songs
                    });
                }
            })
            }else{
            $.ajax({
                type: 'GET',
                url: '{% url 'songs:get-composers' %}',
                dataType: "json",
                success: function (data) {
                    $( "#search" ).autocomplete({
                        source: data.composers
                    });
                }
            })}

        })
  } );
  </script>
<!-- End Auto-Complete script section -->

{% block script %}{% endblock %}
</body>

</html>