{% extends 'songs/base_logged.html' %}

{% block title %}
    Dashboard | Sound Share
{% endblock %}

{% block content %}
    <body>
    <div class="container gedf-wrapper">
        <div class="card">
            <div class="card-header">
                <div class="d-inline-flex justify-content-between w-100">
                    <div class="h3 mb-0">
                        Andamento interazioni:
                    </div>
                    <select id="period" class="custom-select col-md-3">
                        <option value=7>Ultimi 7 giorni</option>
                        <option value=30>Ultimi 30 giorni</option>
                        <option value="365">Ultimi 365 giorni</option>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <div class="h3 mb-0 card-title">
                    I miei brani:
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <ul id="genre_list" class="list-group list-group-flush">

                        {% for el in user.composers.songs.all %}
                            <li class="list-group-item" style="display: block">
                                <div class="d-inline-flex justify-content-between col-12">
                                    <div class="my-auto col-md-3">
                                        <h5 class="my-auto">
                                            <a href="{% url 'songs:song-detail' el.pk %}">
                                                {{ el.title }}
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="d-inline-flex justify-content-end col-md-4">
                                        <a href="{% url 'songs:song-change' el.pk %}" class="mr-2">
                                            <button type="button" class="btn btn-warning">
                                                Modifica
                                            </button>
                                        </a>
                                        <a href="{% url 'songs:song-delete' el.pk %}">
                                            <button type="button" class="btn btn-danger">
                                                Elimina
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>



    </div>


    </body>
{% endblock %}

{% block script %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>

        $(document).ready(refresh($("#period").children("option:selected").val()))

        $("#period").on('change', function () {
            refresh($("#period").children("option:selected").val())
        })

        function refresh(period) {
            var commenti, likes;


            $.ajax({
                type: 'GET',
                url: '{% url 'songs:refresh-data' %}',
                data:{
                    'period': period
                },
                dataType: "json",
                success: function (data) {
                    likes = [];
                    commenti = [];
                    var limit = data.likes.length;
                    for (var i = 1; i < limit; i += 1) {
                        likes.push({
                            x: new Date(data.likes[i][0][0], data.likes[i][0][1], data.likes[i][0][2] ),
                            y: data.likes[i][1],
                        });
                        commenti.push({
                            x: new Date(data.commenti[i][0][0], data.commenti[i][0][1], data.commenti[i][0][2] ),
                            y: data.commenti[i][1],
                        });
                    }
                    var chart = new CanvasJS.Chart("chartContainer", {
                        animationEnabled: true,
                        axisX: {
                            valueFormatString: "DD MMM YY"
                        },
                        axisY: {
                            title: "# Interazioni",
                            includeZero: false,
                        },
                        legend:{
                            cursor: "pointer",
                            fontSize: 16,
                            itemclick: toggleDataSeries
                        },
                        toolTip:{
                            shared: true
                        },
                        data: [{
                            name: "Likes",
                            type: "spline",
                            showInLegend: true,
                            dataPoints: likes,
                        },
                            {
                                name: "Commenti",
                                type: "spline",
                                showInLegend: true,
                                dataPoints: commenti,
                            }]
                    });
                    chart.render();

                    function toggleDataSeries(e){
                        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        }
                        else{
                            e.dataSeries.visible = true;
                        }
                        chart.render();
                    }
                }
            })
        }
    </script>
{% endblock %}