{% extends 'songs/base_logged.html' %}

{% block title %}
    {{ user.username }} | Feed
{% endblock %}

{% block content %}
    <div class="container gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div >
                            <img class="w-100" src="{{ avatar.url }}"  alt=""/>
                        </div>
                        <div class="h5 mt-2">{{ full_name }}</div>
                        <div class="h7 text-muted">Username : @{{ user.username }}</div>
                        {% if is_composer %}
                            <div class="h7 text-muted">Art-Name : {{ art_name }}</div>
                        {% endif %}
                        <div class="h7">
                            Description : {{ bio }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if is_composer %}
                            <li class="list-group-item">
                                <div class="h5 text-muted">Followers</div>
                                <div class="h5">
                                    {{ user.composers.favourite_composers.count }}
                                </div>
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            <div class="h5 text-muted"><a href="{% url 'songs:following' %}">Artisti Seguiti</a></div>
                            <div class="h5">
                                {{ user.favourite_composers.count }}
                            </div>
                            <div class="h5 text-muted"><a href="{% url 'songs:following' %}">Generi Seguiti</a></div>
                            <div class="h5">
                                {{ user.favourite_genres.count }}
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h5 text-muted mb-0"><a href="{% url 'songs:rankings' %}">Classifiche</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 gedf-main">

                {% if is_composer %}
                    <!--- \\\\\\\Post-->
                    <div class="card gedf-card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                                       aria-controls="posts" aria-selected="false">
                                        Carica un nuovo brano
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                    <div class="form-group">
                                        <form action="{% url 'songs:feed' %}" method="post" enctype='multipart/form-data'>
                                            {% csrf_token %}
                                            <label for="title">Titolo del testo:</label>
                                            <input name="title" type="text" class="form-control custom-control-inline" id="title" placeholder="Titolo del brano" required/>

                                            <label for="post" class="mt-3">Post:</label>
                                            <textarea name="post" class="form-control" id="post" rows="3" placeholder="Inserisci il post che vedranno gli utenti qui"></textarea>

                                            <label for="description" class="mt-3">Descrizione:</label>
                                            <textarea name="description" class="form-control" id="description" rows="3" placeholder="Inserisci la descrizione del tuo nuovo brano qui" required></textarea>

                                            <label for="genre" class="mt-3">Scegli il genere:</label>
                                            <select name="genre" id="genre" class="form-control custom-select" required>
                                                {% for genre in genres %}
                                                    <option value="{{ genre.name }}">{{ genre.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="custom-file mt-3">
                                                <input name="audio_file" id="file" type="file" accept="audio/*" class="custom-file-input" required/>
                                                <label id="fileLabel" for="file" class="custom-file-label text-muted">Scegli il file</label>
                                            </div>
                                            <div class="btn-toolbar justify-content-end mt-3">
                                                <div class="btn-group">
                                                    <button type="submit" id="new_piece" class="btn btn-primary">Condividi</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Post /////-->
                {% endif %}
                <!--- \\\\\\\Post-->
                {% if not songs %}
                    <div class="card">
                        <div class="card-header h3">
                            Benvenuto!
                        </div>
                        <div class="card-body">
                            <p>Benvenuto su SoundShare, ora puoi:</p>
                            <ul>
                                <li>
                                    Cercare autori, brani e generi per aggiungerli ai preferiti e visualizzarli in questa schermata.
                                </li>
                                <li>
                                    Commentare i brani interagendo direttamente con gli artisti
                                </li>
                                <li>
                                    Vedere le classifiche dei brani/artisti più apprezzati
                                </li>
                                <li>
                                    Gestire la tua favourite list
                                </li>
                                <li>
                                    Diventare compositore cliccando sull'icona utente a destra. Diventando compositore potrai caricare
                                    i tuoi pezzi e monitorare le interazioni con i tuoi ascoltatori.
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% for song in songs %}
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" height="45" src="{{ song.composer.user.avatar.url }}" alt="" />
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0">{{ song.composer.art_name }}</div>
                                        <div class="h7 text-muted">{{ song.composer.user.first_name }} {{ song.composer.user.last_name }}</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                            <div class="h6 dropdown-header">Links:</div>
                                            <a class="dropdown-item" href="{% url 'songs:composer-detail' song.composer.pk %}">Pagina Artista</a>
                                            <a class="dropdown-item" href="{% url 'songs:song-detail' song.pk %}">Pagina Canzone</a>
                                            <a class="dropdown-item" href="{% url 'songs:genre-detail' song.genre.pk %}">Pagina Genere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ song.date }}</div>
                            <h5 class="card-title" style="color: #5377ef">{{ song.title }}</h5>

                            <p class="card-text">
                                {{ song.post }}
                            </p>

                            <audio controls class="w-100" preload="none" a>
                                <source src="{{ song.audio_file.url }}" type="audio/mpeg" />
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                        <div id='like_{{ song.pk }}' class="d-flex card-footer justify-content-end">
                            <a href="{% url 'songs:song-detail' song.pk %}" class="mr-3"><i class="fa fa-comment"></i> Commenta</a>
                            {% if user not in song.get_likes %}
                                <button onclick="like({{ song.pk }})" class="p-0 btn btn-link card-link "><i class="fa fa-thumbs-o-up"></i> {{ song.likes.all.count }}</button>
                            {% else %}
                                <button onclick="like({{ song.pk }})" class="p-0 btn btn-link card-link "><i class="fa fa-thumbs-up"></i> {{ song.likes.all.count }}</button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                {% if songs and is_paginated %}
                    <nav aria-label="paginator">
                        <ul class="pagination justify-content-center">

                                <li class="page-item">
                                    <a class="page-link" href="?page=1">Inizio</a>
                                </li>

                                {% if songs.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ songs.previous_page_number }}"> < </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link"> < </span>
                                    </li>
                                {% endif %}

                                {% if songs.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ songs.previous_page_number }}">{{ songs.number|add:"-1" }}</a></li>
                                {% else %}
                                    <li class="page-item page-link disabled text-muted">{{ songs.number|add:"-1" }}</li>
                                {% endif %}

                            <li class="page-item active">
                              <span class="page-link">
                                {{ songs.number }}
                              </span>
                            </li>

                                {% if songs.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ songs.next_page_number }}">{{ songs.number|add:"1" }}</a></li>
                                {% else %}
                                    <li class="page-item page-link disabled text-muted">{{ songs.number|add:"1" }}</li>
                                {% endif %}

                                {% if songs.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ songs.next_page_number }}"> > </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link"> > </span>
                                    </li>
                                {% endif %}

                                <li class="page-item">
                                    <a class="page-link" href="?page={{ songs.paginator.num_pages }}">Fine</a>
                                </li>
                        </ul>
                    </nav>
                {% endif %}




            </div>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#file').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            fileName = fileName.replace('C:\\fakepath\\', '');
            //replace the "Choose a file" label
            $(this).next('#fileLabel').html(fileName);
        })

        $(".card-link").on('click', function (e) {
            e.preventDefault();
        })

        function like(pk) {
            $.ajax({
                    type: 'GET',
                    url: '{% url 'songs:like' %}',
                    data: {
                        'pk' : pk,
                    },

                    dataType: "json",
                    success: function (data) {
                        var div_end;
                        var div_id;
                        if (data.success) {
                            div_id = '#like_' + pk;
                            div_end = ' ' + div_id + '> *';
                            $(div_id).load(div_end);
                        } else {
                            alert("Modifica non riuscita!");
                        }
                    }
                }
            )
        }
    </script>


{% endblock %}