{% extends 'songs/base_logged.html' %}
{% block title %}{{ user.username }} | Following{% endblock %}

{% block content %}

    <div class="container">

        <form class="form-group mt-3">
            <label for="filter" class = "mr-2">Inserisci il nome del genere o dell'artista:</label>
            <input name="filter" type="text" class="form-control custom-control-inline" id="filter" placeholder="Filtra..." required />
        </form>

        <div class="row"><hr style="2width: 100%; height: 2px; " /></div>
        <div class="card">
            <div class="card-header">
                <h3 class="pb-0">
                    Generi
                </h3>
            </div>
            <div class="card-body">
                <div class="card">
                    <ul id="genre_list" class="list-group list-group-flush">

                        {% for genre in user.favourite_genres.all %}
                            <li class="list-group-item" style="display: block">
                                <div class="d-inline-flex justify-content-between col-12">
                                    <div class="my-auto col-md-3">
                                        <a href="{% url 'songs:genre-detail' genre.pk %}">
                                            <h5 class="my-auto">
                                                {{ genre.name }}
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="d-inline-flex justify-content-end col-md-4">
                                        <form class="form-inline">
                                            <button type="button" class="btn btn-danger" value="btn_genre_{{ genre.pk }}" onclick="del('btn_genre_{{ genre.pk }}')">
                                                Rimuovi
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row"><hr style="width: 100%; height: 2px; " /></div>
        <div class="card">
            <div class="card-header">
                <h3 class="pb-0">
                    Artisti
                </h3>
            </div>
            <div class="card-body">
                <div class="card">
                    <ul id="my_list" class="list-group list-group-flush">

                        {% for artist in user.favourite_composers.all %}
                            <li class="list-group-item composer" style="display: block">
                                <div class="d-inline-flex justify-content-between col-12">
                                    <div class="my-auto col-md-3">
                                        <a href="{% url 'songs:composer-detail' artist.pk %}">
                                            <h5 class="my-auto">
                                                {{ artist.art_name }}
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="d-inline-flex justify-content-end col-md-4">
                                        <form class="form-inline">
                                            <button type="button" class="btn btn-danger" value="btn_artist_{{ artist.pk }}" onclick="del('btn_artist_{{ artist.pk }}')">
                                                Rimuovi
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
            $("#filter").on("keyup", function() {
                let input, filter, ul_artist, li_artist,ul, li, a, i, txtValue;
                input = document.getElementById('filter');
                filter = input.value.toUpperCase();
                ul_artist = document.getElementById("my_list");
                li_artist = ul_artist.getElementsByTagName('li');

                // Loop through all list items, and hide those who don't match the search query
                for (i = 0; i < li_artist.length; i++) {
                    a = li_artist[i].getElementsByTagName('h5')[0];
                    txtValue = a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li_artist[i].style.display = "block";
                    } else {
                        li_artist[i].style = "display:none !important";
                    }
                }

                ul = document.getElementById("genre_list");
                li = ul.getElementsByTagName('li');

                // Loop through all list items, and hide those who don't match the search query
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName('h5')[0];
                    txtValue = a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "block";
                    } else {
                        li[i].style = "display:none !important";
                    }
                }
            });

            function del(value) {
                $.ajax({
                type: 'GET',
                url: '{% url 'songs:unfollow' %}',
                data: {
                    'value' : value,
                },

                dataType: "json",
                success: function (data) {
                    if (data.success){
                        if(data.artist)
                            $("#my_list").load(" #my_list > *");
                        else
                            $("#genre_list").load(" #genre_list> *");
                    }else{
                        alert("Rimozione non riuscita!");
                    }
                }
            })
            }
    </script>
{% endblock %}