{% extends 'songs/base_logged.html' %}
{% block title %}Rankings | Sound Share{% endblock %}

{% block content %}
    <div class="container">
        <div class="row gedf-wrapper">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="pb-0">
                            Canzoni più piaciute:
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <ol id="genre_list" class="list-group list-group-flush">
                                {% for song in songs %}
                                    <li class="list-group-item">
                                        <div class="d-inline-flex justify-content-between col-12 px-0">
                                            <a href="{% url 'songs:song-detail' song.0.pk %}" class="d-inline-flex">
                                                <div class="mr-2">
                                                    <img class="rounded-circle" width="45" height="45" src="{{ song.0.composer.user.avatar.url }}" alt="" />
                                                </div>
                                                <div class="h5 my-auto">
                                                    {{ song.0.title }} -
                                                    {{ song.0.composer.art_name }}
                                                </div>
                                            </a>
                                            <div class="h6 text text-muted my-auto">
                                                Likes:
                                                {{ song.1 }}
                                            </div>

                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="pb-0">
                            Artisti con più interazioni questo mese:
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <ol id="genre_list" class="list-group list-group-flush">
                                {% for artist in composers %}
                                    <li class="list-group-item">
                                        <div class="d-inline-flex justify-content-between col-12">
                                            <a href="{% url 'songs:composer-detail' artist.0.pk %}" class="d-inline-flex">
                                                <div class="mr-2">
                                                    <img class="rounded-circle" width="45" height="45" src="{{ artist.0.user.avatar.url }}" alt="" />
                                                </div>
                                                <div class="h5 my-auto">
                                                    {{ artist.0.art_name }}
                                                </div>
                                            </a>
                                            <div class="h6 text text-muted my-auto">
                                                Comments:
                                                {{ artist.1 }}
                                            </div>

                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}