{% extends 'songs/base_logged.html' %}
{% load result_repr %}

{% block content %}
    <div class="container gedf-wrapper">
        <div class="card">
            <div class="card-header">
                <h3 class="pb-0">
                    Risultati:
                </h3>
            </div>
            <div class="card-body">
                <div class="card">
                    <ul id="genre_list" class="list-group list-group-flush">

                        {% for el in results %}
                            <li class="list-group-item" style="display: block">
                                <div class="d-inline-flex justify-content-between col-12">
                                    <div class="my-auto col-md-3">
                                        <h5 class="my-auto">
                                            {{ el|name_filter }}
                                        </h5>
                                    </div>
                                    <div class="d-inline-flex justify-content-end col-md-4">
                                        <a href="{{ el|link_filter }}">
                                            <button type="button" class="btn btn-info">
                                            Vai alla pagina
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}