{% extends 'songs/base_logged.html' %}

{% block title %}{{ object.title }} | Dettagli brano{% endblock %}

{% block content %}
    <div class="container gedf-wrapper">
    <div class="row ">
        <div class="card w-100">
            <div class="card-header d-inline-flex justify-content-between">
                <div class="mb-0 h3 card-title"><b>Genere: {{ object.name }}</b></div>
                <div id="btn_follow">
                    {% if user in object.favourite_genres.all %}
                        <button class="btn btn-danger" onclick="unfollow('btn_genre_{{ object.pk }}')">Rimuovi ai preferiti</button>
                    {% else %}
                        <button class="btn btn-success" onclick="follow('btn_genre_{{ object.pk }}')">Aggiungi dai preferiti</button>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div CLASS="row">
                    <div class="col-md-6">
                        <p class="text-left"><b>NOME</b></p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-left">{{ object.name }}</p>
                    </div>
                </div>
                <div CLASS="row">
                    <div class="col-md-6">
                        <p class="text-left"><b>DESCRIZIONE</b></p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-left">{{ object.description }}</p>
                    </div>
                </div>
                <div CLASS="row">
                    <div class="col-md-6">
                        <p class="text-left"><b>FOLLOWERS</b></p>
                    </div>
                    <div id="followers_count" class="col-md-6">
                        <p class="text-left">{{ object.favourite_genres.all.count }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="card w-100 mt-3">
            <div class="card-header">
                <div class=" h5 m-0">Ultimi brani caricati: {{ object.name }}</div>
            </div>
            <div class="card-body">
                <div class="card">
                    <ol id="genre_list" class="list-group list-group-flush">
                        {% for song in genre.songs.all|dictsortreversed:"date" %}
                            <li class="list-group-item">
                                <div class="d-inline-flex justify-content-between col-12">
                                    <a href="{% url 'songs:song-detail' song.pk %}" class="d-inline-flex">
                                        <div class="mr-2">
                                            <i class="fa fa-play-circle fa-2x"></i>
                                        </div>
                                        <div class="h5 my-auto">
                                            {{ song.title }}
                                        </div>
                                    </a>
                                    <div class="h6 text text-muted my-auto">
                                        {{ song.date.date }}
                                    </div>

                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>

            </div>
        </div>

    </div>
{%  endblock %}
{% block script %}
    <script type="text/javascript">
        function unfollow(value) {
            $.ajax({
                type: 'GET',
                url: '{% url 'songs:unfollow' %}',
                data: {
                    'value' : value,
                },

                dataType: "json",
                success: function (data) {
                    if (data.success){
                        $("#btn_follow").load(" #btn_follow> *");
                        $("#followers_count").load(" #followers_count> *");
                    }else{
                        alert("Rimozione non riuscita!");
                    }
                }
            })
        }

        function follow(value) {
            $.ajax({
                type: 'GET',
                url: '{% url 'songs:follow' %}',
                data: {
                    'value' : value,
                },

                dataType: "json",
                success: function (data) {
                    if (data.success){
                        $("#btn_follow").load(" #btn_follow> *");
                        $("#followers_count").load(" #followers_count> *");
                    }else{
                        alert("Modifica non riuscita!");
                    }
                }
            })
        }
    </script>
{% endblock %}