<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conferma email</title>
</head>
<body>
    {{ message }}, clicca <a href="{% url 'home' %}">qui</a> per tornare alla home page.
</body>
</html>