{% extends 'songs/base_logged.html' %}
{% load crispy_forms_filters %}
{% block title %}{{ user.username }} | Modifica{% endblock %}

{% block content %}
    <div class="container gedf-wrapper">
        <div class="card bg-light">
            <article class="card-body mx-auto">
                <form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary float-right">Modifica</button>
                </form>
            </article>
        </div>
    </div>

{% endblock %}