{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Registrati{% endblock %}
{% block content %}
    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto">
                <h3 class="card-title text-center mt-3">
                    <a href="/">
                        Sound Share
                    </a>
                </h3>
                <p class="text-center">
                    Registrati ed entra a far parte della community
                </p>
                <form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p class="text-muted small">Dovrai verificare la tua email prima di poter accedere all'
                    account. Dopo aver premuto il tasto Registrati controlla la tua email</p>
                    <button type="submit" class="btn btn-primary">Registrati</button>
                </form>
             </article>
        </div>
    </div>
{% endblock %}