{% extends 'songs/base_logged.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Language create{% endblock %}

{% block content %}

    <div class="container form-group">
        <form method="post">
            <h3 class="mt-4">Diventa compositore per accedere a tutte le potenzialità della piattaforma:</h3>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="justify-content-end d-inline-flex w-100">
            <button type="submit" class="btn btn-primary">Salva</button>
        </div>
        </form>


    </div>

{% endblock %}