{% extends 'songs/base_logged.html' %}

{% block title %}{{ object.art_name }}{% endblock %}

{% block content %}

    <div class="container gedf-wrapper">
        <div class="row">
            <div class="col-md-8">
                <div class="card h-100">
                    <div class="card-header d-inline-flex justify-content-between">
                        <div class="h5 my-auto">Scheda compositore</div>
                        {% if user.username != object.user.username %}
                            <div id="btn_follow">
                                {% if user in object.get_followers %}
                                <button class="btn btn-danger" onclick="unfollow('btn_artist_{{ object.pk }}')">Rimuovi ai preferiti</button>
                            {% else %}
                                <button class="btn btn-success" onclick="follow('btn_artist_{{ object.pk }}')">Aggiungi dai preferiti</button>
                            {% endif %}
                            </div>
                        {% endif %}

                    </div>
                    <div class="card-body">
                        <div CLASS="row">
                            <div class="col-md-6">
                                <p class="text-left"><b>NOME</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-left">{{ object.user.get_full_name }}</p>
                            </div>
                        </div>
                        <div CLASS="row">
                            <div class="col-md-6">
                                <p class="text-left"><b>NOME D'ARTE</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-left">{{ object.art_name }}</p>
                            </div>
                        </div>
                        <div CLASS="row">
                            <div class="col-md-6">
                                <p class="text-left"><b>MAIL</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-left">{{ object.user.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <p> <hr /> </p>
                        </div>
                        <div CLASS="row">
                            <div class="col-md-6">
                                <p class="text-left"><b>DATA PRIMO ACCESSO</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-left">{{ object.user.date_joined.date }}</p>
                            </div>
                        </div>
                        <div CLASS="row">
                            <div class="col-md-6">
                                <p class="text-left"><b>NUMERO DI BRANI CARICATI</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-left">{{ object.songs.count }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <p> <hr /> </p>
                        </div>
                        <div CLASS="row">
                            <div class="col-md-6">
                                <p class="text-left"><b>ABOUT ME</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-left">{{ object.user.bio }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="border rounded bg-white">
                    <img src="{{ object.user.avatar.url }}" class="w-100 border rounded" />
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card gedf-wrapper">
                    <div class="card-header">
                        <div class=" h5 m-0">Ultimi brani caricati</div>
                    </div>
                    <div class="card-body">
                               <div class="card">
                    <ol id="genre_list" class="list-group list-group-flush">
                        {% for song in object.songs.all|dictsortreversed:"date" %}
                            <li class="list-group-item">
                                <div class="d-inline-flex justify-content-between col-12">
                                    <a href="{% url 'songs:song-detail' song.pk %}" class="d-inline-flex">
                                        <div class="mr-2">
                                            <i class="fa fa-play-circle fa-2x"></i>
                                        </div>
                                        <div class="h5 my-auto">
                                            {{ song.title }}
                                        </div>
                                    </a>
                                    <div class="h6 text text-muted my-auto">
                                        {{ song.date.date }}
                                    </div>

                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
            function unfollow(value) {
                $.ajax({
                type: 'GET',
                url: '{% url 'songs:unfollow' %}',
                data: {
                    'value' : value,
                },

                dataType: "json",
                success: function (data) {
                    if (data.success){
                        $("#btn_follow").load(" #btn_follow> *");
                    }else{
                        alert("Rimozione non riuscita!");
                    }
                }
            })
            }

            function follow(value) {
                $.ajax({
                type: 'GET',
                url: '{% url 'songs:follow' %}',
                data: {
                    'value' : value,
                },

                dataType: "json",
                success: function (data) {
                    if (data.success){
                        $("#btn_follow").load(" #btn_follow> *");
                    }else{
                        alert("Modifica non riuscita!");
                    }
                }
            })
            }
    </script>
{% endblock %}