{% extends 'songs/base_logged.html' %}
{% load crispy_forms_filters %}
{% block title %}{{ object.title }} | Modifica{% endblock %}

{% block content %}
    <div class="container gedf-wrapper">
        <div class="card bg-light">
            <div class="card-body">
                <form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Salva</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}