{% extends 'songs/base_logged.html' %}#
{% load static %}

{% block title %}{{ object.title }} | Elimina{% endblock %}

{% block content %}
    <div class="container gedf-wrapper">
        <div class="card bg-light">
            <div class="card-body">
                <form method="post" enctype='multipart/form-data'>
                    <div class="mx-auto">
                        <p class="h4 text-center">Sicuro di voler eliminare il brano: {{ object.title }}?</p>
                    </div>
                    {% csrf_token %}
                    <div class="text-center mt-3">
                    <input class="btn btn-danger mr-4" type="submit" value="Elimina">
                    <a class="btn btn-secondary ml-4" href="{% url 'songs:dashboard' %}">
                        Annulla
                    </a>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}