{% extends 'songs/base_logged.html' %}

{% block title %}{{ object.title }} | Dettagli brano{% endblock %}

{% block content %}
    <div class="container gedf-wrapper">
        <div class="row ">
            <div class="col-md-3">
                <img src="{{ object.composer.user.avatar.url }}" class="card-img border rounded bg-white" alt="...">
            </div>
            <div class="col-md-9">
                <div class="card h-100">
                    <div class="card-header justify-content-between d-inline-flex">
                        <div>
                            <h3 class="mb-0 card-title">
                                <b>{{ object.title }} -
                                <a href="{% url 'songs:composer-detail' object.composer.pk %}">
                                    {{ object.composer.art_name }}
                                </a>
                                </b>
                            </h3>
                            <p class="card-text"><small class="text-muted">Caricato: {{ object.date.date }}</small></p>
                        </div>
                        <div id="like" class="d-inline-flex">
                            <span class="h4 mb-0 my-auto" >{{ object.likes.count }}</span>
                            {% if user in object.get_likes %}
                                <button onclick="like({{ object.pk }})" class="btn btn-link h-100"><i class="fa fa-2x fa-thumbs-up"></i></button>
                            {% else %}
                                <button onclick="like({{ object.pk }})" class="btn btn-link h-100"><i class="fa fa-2x fa-thumbs-o-up"></i></button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div CLASS="row">
                            <div class="col-md-6">
                                <p class="text-left"><b>DESCRIZIONE</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-left">{{ object.description }}</p>
                            </div>
                        </div>
                        <div CLASS="row">
                            <div class="col-md-6">
                                <p class="text-left"><b>GENERE</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-left">{{ object.genre.name }}</p>
                            </div>
                        </div>
                        <p> <hr /> </p>
                        <audio controls class="w-100">
                            <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="card" id="comments_section">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#comments" role="tab"
                                   aria-controls="comments" aria-selected="false">Commenti</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images"
                                   aria-selected="true" href="#add_comment">Aggiungi un commento</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="comments" role="tabpanel" aria-labelledby="posts-tab">

                                {% for comment in object.get_comments %}
                                    <div class="row mb-2">
                                        <div class="col-md-12">
                                            <div class="card h-100">
                                                <div class="card-header">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="mr-2">
                                                                <img class="rounded-circle" width="45" height="45" src="{{ comment.user.avatar.url }}" alt="">
                                                            </div>
                                                            <div class="ml-2">
                                                                <div class="h5 m-0">@{{ comment.user.username }}</div>
                                                                <div class="h7 text-muted">{{ comment.date_time }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-body">
                                                    <p class="mb-0">
                                                        {{ comment.text }}
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="tab-pane fade" id="add_comment" role="tabpanel" aria-labelledby="images-tab">
                                <form id="new_comment">
                                    <div class="form-group col-10 offset-1">
                                        <label for="comment_text" class="mt-3">Post:</label>
                                        <textarea name="post" class="form-control" id="comment_text" rows="3" placeholder="Inserisci il commento qui..." required></textarea>
                                        <div class="btn-toolbar justify-content-end mt-3">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-primary">Condividi</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#comments_section').submit(function (e) {
            e.preventDefault()

            $.ajax({
                type: 'GET',
                url: '{% url 'songs:insert-comment' %}',
                data: {
                    'username' : '{{ user.get_username }}',
                    'text' : $("#comment_text").val(),
                    'song' : {{ object.pk }}
                },

                dataType: "json",
                success: function (data) {
                    if (data.comment_inserted){
                        $("#comments_section").load(" #comments_section> *");
                    }else{
                        alert("Commento non inserito");
                    }
                }
            })


        })

        function like(pk) {
            $.ajax({
                type: 'GET',
                url: '{% url 'songs:like' %}',
                data: {
                    'pk' : pk,
                },

                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        $("#like").load(" #like> *");
                    } else {
                        alert("Modifica non riuscita!");
                    }
                }
            }
            )
        }
    </script>
{% endblock %}